<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardiac Arrest Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <script src ="https://cdn.jsdelivr.net/npm/three@0.134.0/build/three.min.js"></script>
    <script src ="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.cells.min.js"></script>
    <script>
      window.addEventListener('load', function() {
        VANTA.CELLS({
            el: "#background",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            color1: 0xbd0000,
            color2: 0xffb6b6,
            speed: 1.10
          });
      });
    </script>
    <div id="background"></div>
    <script src="https://cdn.botpress.cloud/webchat/v2.4/inject.js"></script>
    <script src="https://files.bpcontent.cloud/2025/04/26/20/20250426205922-BDPV99YE.js"></script>
    <div class="container">
        <h1>Cardiac Arrest Detector</h1>
        <form action="/predict" method="post">
            <input type="number" name="age" placeholder="Age (years)" required><br>
            <input type="number" name="gender" placeholder="Gender (1-Male, 2-Female)" required><br>
            <input type="number" name="height" placeholder="Height (cm)" required><br>
            <input type="number" name="weight" placeholder="Weight (kg)" required><br>
            <input type="number" name="ap_hi" placeholder="Systolic BP (ap_hi)" required><br>
            <input type="number" name="ap_lo" placeholder="Diastolic BP (ap_lo)" required><br>
            <input type="number" name="cholesterol" placeholder="Cholesterol (1-3)" required><br>
            <input type="number" name="gluc" placeholder="Glucose (1-3)" required><br>
            <input type="number" name="smoke" placeholder="Smoking (0-No, 1-Yes)" required><br>
            <input type="number" name="alco" placeholder="Alcohol Intake (0-No, 1-Yes)" required><br>
            <input type="number" name="active" placeholder="Physical Activity (0-No, 1-Yes)" required><br>
            <button type="submit" class="go-back-button">Predict</button>
        </form>
    </div>
</body>
</html>